body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

#topbar {
    width: 100%;
    box-shadow: 0 2px 5px #ccc;
    background-color: white;
    z-index: 10;

    position: fixed;
    top: 0;
    left: 0;

    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 16px 8%
}

#left-menu {
    display: inline-flex;
    justify-content: start;
    align-items: center;
}

#logo > a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

#logo {
    font-size: 36px;
    text-transform: uppercase;
    font-weight: 400;
    margin-right: 16px;
}

#logo span {
    font-weight: 800;
}

#left-menu > a {
    text-decoration: none;
    color: black;
    margin-left: 32px;
    text-transform: uppercase;
    font-weight: 600;
}

#search-wrapper {
    width: 100%;
    max-width: 400px;
    position: relative;
}

#search-wrapper > i {
    position: absolute;
    color: #999;
    font-size: 18px;
    top: 50%;
    left: 18px;
    transform: translateY(-50%);
}

#search-box {
    width: 100%;
    border: 1px solid rgb(245, 242, 242);
    background-color: rgb(245, 242, 242);
    box-sizing: border-box;
    padding: 10px 24px 8px 48px;
    color: black;
    outline: none;
}

#right-menu {
    display: inline-flex;
    justify-content: end;
    align-items: center;
}

#cart-wrapper {
    position: relative;
    margin-right: 32px;
}

#cart-count {
    width: 18px;
    height: 18px;
    font-size: 12px;
    margin: 0;
    box-sizing: border-box;
    text-align: center;
    font-weight: 600;
    background-color: #009688;
    color: white;
    border-radius: 50%;

    position: absolute;
    top: -12px;
    right: -12px;
}

#cart-wrapper > a {
    text-decoration: none;
    color: black;
}

#cart-wrapper i {
    font-size: 18px;
    cursor: pointer;
}

#right-menu > img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

main {
    width: 100%;
    min-height: 80vh;
    box-sizing: border-box;
    margin-top: 100px;
    padding-bottom: 8%;
}

#edyoda-projects-logo {
    width: 128px;
    position: fixed;
    bottom: 50px;
    right: 50px;
}

footer {
   width: 100%;
   background-color: #1c1b1e; 
   display: flex;
   justify-content: center;
   box-sizing: border-box;
   padding: 4% 8%;
}

footer > div {
    padding-left: 60px;
    padding-right: 60px;
}

footer > div:first-of-type {
    padding-left: 0;
}

.footer-heading {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 16px;
    color: white;
    opacity: 0.9;
    letter-spacing: 1px;
}

.footer-link {
    text-decoration: none;
    color: white;
    display: block;
    margin-top: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 14px;
    opacity: 0.8;
}