.slick-slide {
    width: 100%;
    margin: 0 80px;
}

.slick-dots {
    list-style-type: none;
    width: 100%;
    max-width: 200px;
    text-align: center;
    margin: 0 auto;
}

.slick-dots li {
    display: inline-block;
}

.slick-dots button {
    display: inline-block;
    font-size: 0px;
    color: #ccc;
    background-color: #ccc;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 0;
    margin-left: 6px;
    margin-right: 6px;
    outline: none;
    cursor: pointer;
}

.slick-active button {
    background-color: #aaa;
}

/* SLICK STYLES END */


/* PRODUCT STYLES */

.homepage-section {
    padding: 4% 8% 0;
}

.section-heading {
    font-size: 28px;
    font-weight: 600;
    opacity: 0.8;
}

.product-grid {
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
}

.product-card {
    width: 100%;
    max-width: 19%;
    margin-left: 0.5%;
    margin-right: 0.5%;
    margin-bottom: 16px;
    box-sizing: border-box;
    box-shadow: 0 2px 5px #ccc;
    border-radius: 5px;
}

.product-card > a {
    text-decoration: none;
    color: black;
}

.product-image {
    width: 100%;
}

.product-meta {
    box-sizing: border-box;
    padding: 16px;
}

.product-meta > h4 {
    font-weight: 600;
    margin: 0;
    font-size: 16px;
}

.product-meta > h5 {
    font-weight: 600;
    opacity: 0.8;
    margin: 0;
    margin-top: 12px;
}

.product-meta > p {
    margin: 0;
    margin-top: 12px;
    font-weight: 600;
    color: #009688;
}