#main-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 4%;
}

#tick-wrapper{
    width: 200px;
    height: 200px;
    background-color: #49d049;
    border-radius: 50%;
    padding: 40px;
    box-sizing: border-box;
    animation: popup 1s;
}

#tick-wrapper img {
    width: 100%;
}

@keyframes popup {
    0% {
        transform: scale(0);
    }

    60% {
        transform: scale(1.25, 1.25);
    }

    100% {
        transform: scale(1, 1);
    }
}

.main-heading {
    font-size: 36px;
    color: rgba(0, 0, 0, 0.8);
    font-weight: 600;
    margin: 0;
    margin-top: 48px;
    margin-bottom: 16px;
}

.section-heading {
    font-size: 20px;
    color: rgba(0, 0, 0, 0.8);
    font-weight: 400;
    margin: 0;
    margin-bottom: 16px;
}